// COLOR PALETTE
$background-color: #eeeeee;
$prime-color: #eee9e4;
$button-color: #cea35f;
$white: #ffffff;
$black: #000000;
$grey: #666666;
$light-grey: #cccccc;

//FONT SIZE
$base-font-size: 12px;
$large-font-size: 14px;
$huge-font-size: 16px;
$title-font-size: 36px;

//FONT WEIGHT
$font-weight: 700;

//BORDER RADIUS
$small-radius: 6px;
$big-radius: 30px;

//PADDING AND MARGIN
$small-spacing: 8px;
$normal-spacing: 16px;
$large-spacing: 24px;
$huge-spacing: 40px;