// COLOR PALETTE
$background-color: #eeeeee;
$white: #ffffff;
$black: #000000;

//FONT SIZE
$base-font-size: 12px;
$large-font-size: 14px;
$huge-font-size: 16px;
$title-font-size: 36px;

//FONT WEIGHT
$font-weight: 700;

//PADDING AND MARGIN
$small-spacing: 8px;
$normal-spacing: 16px;
$large-spacing: 24px;
$huge-spacing: 40px;