@import '../../styles//variables.scss';

.book-list-container {
    display: grid;
    grid-column-gap: $normal-spacing;
    grid-row-gap: $huge-spacing;
}

@media (min-width: 900px) {
    .book-list-container { 
        grid-template-columns: repeat(2, 400px); 
    }
}
