@import '../../styles/variables.scss';

.book-info-container {
    display: flex;
    align-items: center;
    gap: $huge-spacing;
}

.book-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.book-img {
    box-shadow: rgba(0, 0, 0, 0.10) 0 3px 5px;
}

.book-title {
    font-weight: $font-weight;
    margin-bottom: $small-spacing;
}

.book-authors {
    display: flex;
    flex-direction: column;
    color: $grey;
}

.book-rating {
    margin-bottom: $normal-spacing;

    span {
        margin-right: $xsmall-spacing;
        color: $grey;

        &.checked {
            color: orange;
          }
    }
}

button {
    background: transparent;
    color: $button-color;
    border: 1px solid $button-color;
    border-radius: $small-radius;
    padding: $small-spacing $normal-spacing;
    margin-top: $small-spacing;
    font-size: $huge-font-size;
    cursor: pointer;
}

.modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    display: flex;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: $white;
    margin: auto;
    border: 1px solid #888;
    border-radius: $small-radius;
    max-width: 90%;
    width: 500px;
    padding: $normal-spacing;
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: auto;
}

.close {
    color: $light-grey;
    align-self: end;
    font-size: $title-font-size;
    cursor: pointer;
}

.book-description {
    padding: $large-spacing;
}

@media (min-width: 900px) {
    .modal-content { 
        height: fit-content;
    }
}
