<div class="book-info-container">
    <img class="book-img" [src]="book.volumeInfo.imageLinks?.thumbnail">
    <div class="book-details">
        <div class="book-rating">
            <span *ngFor="let _ of [].constructor(5); let i=index" 
            class="fa fa-star" [ngClass]="{'checked': i < book.volumeInfo.averageRating}"></span>
        </div>

        <span class="book-title">{{book.volumeInfo.title}}</span>
        <div class="book-authors">
            <span *ngFor="let author of book.volumeInfo.authors">
                {{author}}
            </span>
        </div>
    
        <button (click)="toggleModal()">Read More</button>
    </div>
</div>

<ng-container *ngIf="isShowMore">
    <section class="modal">
        <div class="modal-content">
            <span class="close" (click)="toggleModal()">&times;</span>
            <div class="book-description">
                <div class="book-title">{{book.volumeInfo.title}}</div>
                <p>{{book.volumeInfo.description}}</p>
            </div>
        </div>
    </section>
</ng-container>

