@import '../../styles/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-search-container {
    background-color: $prime-color;
    padding: $huge-spacing;
    text-align: center;
    margin-top: $huge-spacing;
    border-radius: 30px;
}

input {
    border: none;
    border-radius: 6px;
    padding: $normal-spacing;
    font-size: $huge-font-size;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);

    &:focus {
        outline: none;
    }
}

button {
    background: $button-color;
    color: $white;
    border: none;
    border-radius: 6px;
    padding: $small-spacing $normal-spacing;
    margin-left: -30px;
    font-size: $huge-font-size;
    cursor: pointer;
}

.book-container {
    background: $prime-color;
    padding: $huge-spacing;
    margin: $huge-spacing;
    border-radius: 30px;
}