@import '../../styles/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-search-container {
    background-color: $prime-color;
    padding: $huge-spacing;
    text-align: center;
    margin: $huge-spacing $small-spacing;
    border-radius: $big-radius;
}

input {
    border: none;
    border-radius: $small-radius;
    padding: $normal-spacing;
    font-size: $huge-font-size;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);

    &:focus {
        outline: none;
    }
}

button {
    background: $button-color;
    color: $white;
    border: none;
    border-radius: $small-radius;
    padding: $small-spacing $normal-spacing;
    margin-left: -30px;
    font-size: $huge-font-size;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: $light-grey;
  color: $grey;
  cursor: default;
}

.book-container {
    background: $prime-color;
    padding: $large-spacing;
    margin: 0 $small-spacing $huge-spacing;
    border-radius: 30px;
}

@media (min-width: 900px) {
    .book-container { 
        padding: $huge-spacing;
        margin: $huge-spacing;
        margin-top: 0;
    }
}